API_ID=12345679
API_HASH=3030874d0befdb5d05597deacc3e83ab
BOT_TOKEN=8605644707:BBCPYQoU8o-HsPW4np8pFfw91WcEbQT8XQk
OWNER_ID=8460383704
MONGO_DB_URI=mongodb+srv://Yash_867:mukesh_607@cluster0.r3s9sbo.mongodb.net/?retryWrites=true&w=majority
MUST_JOIN=Cinderella_Support
